fastapi
uvicorn
python-dotenv
requests
pdfplumber
google-generativeai
sentence-transformers
langchain
huggingface-hub
langchain_text_splitters
sentence-transformers
python-multipart        
supabase                
jose
pydantic[email]
python-multipart